.app {
  text-align: center;
  font-family: sans-serif, 'Fira sans';
  background-color: burlywood;
  
}

.app .header{
   text-align: center;
  font-family: sans-serif, 'Fira sans';
  background-color: #e68bbe;
  
}
h1{
  color:white;
  outline:black;
}
input {
  padding: 4px;
  margin-right: 8px;
}


ul {
  /* Remove bullet point  */
  list-style: none;
}

li {
  background-color:#f4b8da ;
  margin: 12px 0;
  outline: black;
}

.delete-button {
  font-size: 10px;
  margin-left: 8px;

  border: none;
  background-color: #f4b8da;

  padding-top: 4px;
  padding-bottom: 4px;
}

.done {
  background-color:#f4b8da ;
  border:none;
}
.app .Additems{
  display: block;
  width: 100%;
  border: none;
  background-color: #eea1cd;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}



.app .Additems:hover {
  background-color: #ddd;
  color: black;
}

.app .Greg{
  border:none;
  border-color:#eea1cd;
}

.app .Pop{
  padding-right:30px;
}